In [1]:
data= open("/content/004.txt","r")

In [2]:
chars=sorted(list(set(data.read())))

In [3]:
data_join=''.join(chars)
data_join

'\n "$%\'(),-.0123456789ABCDEFHIJKLMNOPRSTUVWYabcdefghijklmnopqrstuvwxy£'

In [4]:
size=len(chars)

In [5]:
size

69

Encoding and Deocding the String

In [6]:
string="hii there"
encoded = [ord(c) for c in string]
print(encoded)

[104, 105, 105, 32, 116, 104, 101, 114, 101]

In [7]:
decoded = [chr(c) for c in encoded]
print("".join(decoded))

hii there

In [8]:
stringer="hi there"
l=[]
for c in stringer:
  l.append(ord(c))
print(l)

[104, 105, 32, 116, 104, 101, 114, 101]

Encoding the whole data and print the encoded data

In [9]:
with open("004.txt","r") as f:
  text=f.read()

In [10]:
text

'High fuel prices hit BA\'s profits\n\nBritish Airways has blamed high fuel prices for a 40% drop in profits.\n\nReporting its results for the three months to 31 December 2004, the airline made a pre-tax profit of £75m ($141m) compared with £125m a year earlier. Rod Eddington, BA\'s chief executive, said the results were "respectable" in a third quarter when fuel costs rose by £106m or 47.3%. BA\'s profits were still better than market expectation of £59m, and it expects a rise in full-year revenues.\n\nTo help offset the increased price of aviation fuel, BA last year introduced a fuel surcharge for passengers.\n\nIn October, it increased this from £6 to £10 one-way for all long-haul flights, while the short-haul surcharge was raised from £2.50 to £4 a leg. Yet aviation analyst Mike Powell of Dresdner Kleinwort Wasserstein says BA\'s estimated annual surcharge revenues - £160m - will still be way short of its additional fuel costs - a predicted extra £250m. Turnover for the quarter was up 4.3% to £1.97bn, further benefiting from a rise in cargo revenue. Looking ahead to its full year results to March 2005, BA warned that yields - average revenues per passenger - were expected to decline as it continues to lower prices in the face of competition from low-cost carriers. However, it said sales would be better than previously forecast. "For the year to March 2005, the total revenue outlook is slightly better than previous guidance with a 3% to 3.5% improvement anticipated," BA chairman Martin Broughton said. BA had previously forecast a 2% to 3% rise in full-year revenue.\n\nIt also reported on Friday that passenger numbers rose 8.1% in January. Aviation analyst Nick Van den Brul of BNP Paribas described BA\'s latest quarterly results as "pretty modest". "It is quite good on the revenue side and it shows the impact of fuel surcharges and a positive cargo development, however, operating margins down and cost impact of fuel are very strong," he said. Since the 11 September 2001 attacks in the United States, BA has cut 13,000 jobs as part of a major cost-cutting drive. "Our focus remains on reducing controllable costs and debt whilst continuing to invest in our products," Mr Eddington said. "For example, we have taken delivery of six Airbus A321 aircraft and next month we will start further improvements to our Club World flat beds." BA\'s shares closed up four pence at 274.5 pence.\n'

In [17]:
char=sorted(list(set(text)))
char="".join(char)
print(char)

 "$%'(),-.0123456789ABCDEFHIJKLMNOPRSTUVWYabcdefghijklmnopqrstuvwxy£

In [25]:
st={ch:i for i,ch in enumerate(char)}
it={i:ch for i,ch in enumerate(char)}
encode= lambda s: [st[c] for c in s]
decode= lambda l: "".join([it[i] for i in l])
strr="hi there"
print(encode(strr))
print(decode(encode(strr)))

[50, 51, 1, 62, 50, 47, 60, 47]
hi there